<!--<li (mouseover)="overMatch = match" class="game game-top"-->
<!--    (click)="selected = match"-->
<!--    [ngClass]="{-->
<!--      'winner': winner(true, match),-->
<!--      'hover-match': overMatch == match,-->
<!--       'selected-match': selected == match-->
<!--      }">{{teamLabel(match.side0)}} <span>{{match.points0}}</span></li>-->
<!--<li (mouseover)="overMatch = match" class="game game-spacer"-->
<!--    (click)="selected = match"-->
<!--    [ngClass]="{-->
<!--      'hover-match': overMatch == match,-->
<!--       'selected-match': selected == match-->
<!--      }">&nbsp;-->
<!--</li>-->
<!--<li class="game game-info text-center" (mouseover)="overMatch = match" (click)="selected = match" [ngClass]="{-->
<!--      'hover-match': overMatch == match,-->
<!--       'selected-match': selected == match-->
<!--      }">-->
<!--  <div>{{formatDate(match)}}</div>-->
<!--  <div>Court {{match.court}}</div>-->
<!--</li>-->
<!--<li (mouseover)="overMatch = match" class="game game-spacer"-->
<!--    (click)="selected = match"-->
<!--    [ngClass]="{-->
<!--      'hover-match': overMatch == match,-->
<!--       'selected-match': selected == match-->
<!--      }">&nbsp;-->
<!--</li>-->
<!--<li (mouseover)="overMatch = match" class="game game-bottom"-->
<!--    (click)="selected = match"-->
<!--    [ngClass]="{-->
<!--      'winner': winner(false, match),-->
<!--      'hover-match': overMatch == match,-->
<!--       'selected-match': selected == match-->
<!--      }">{{teamLabel(match.side1)}}-->
<!--  <span>{{match.points1}}</span></li>-->

<!--<li class="spacer">&nbsp;</li>-->
