<div *ngIf="reservation">
  <div>
    <label>Sport type: </label> {{ reservation.sportReservation }}
  </div>

  <div>
    <label>Date reservation: </label> {{ reservation.dateReservation }}
  </div>
  <div>
    <label> Hour reservation: </label> {{ reservation.hourReservation }}
  </div>
  <div>
  <label>INFO COURT RESERVED:</label>
    <br>
    <label>-type: </label> {{ reservation.courtReservation.type}}
    <br>
    <label>-number: </label> {{ reservation.courtReservation.id}}
  </div>
  <div>
    <p>PLAYERS: </p>
    {{reservation.player1}} {{reservation.player2}} {{reservation.player3}} {{reservation.player4}}
  </div>
  <button mat-raised-button color="warn" (click)='deleteReservation()'>Delete</button>
</div>
