<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Starting date</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of tournaments" routerLink='/tournament/{{t.id}}'>
    <th scope="row">{{t.id}}</th>
    <td>{{t.name}}</td>
    <td>{{t.startingDate}}</td>
    <td>{{t.status}} <span *ngIf="t.status == 'CONFIRMED' || t.status == 'COMPLETE'">[{{t.teams.length}}
      /{{t.maxTeamsNumber}}]</span></td>
  </tr>
  <tr *ngIf="tournaments && tournaments.length === 0">
    <td class="text-center" colspan="5">
      No tournaments!
    </td>
  </tr>
  </tbody>
</table>
