<div *ngIf="course">
  <div>
    <div>
      <label>SPORT: </label> {{course.sporttype}}
    </div>
    <div>
      <label>INSTRUCTOR: </label> {{course.instructor}}
    </div>
    <div>
      <label>PLAYERS: </label> {{course.players}}
    </div>
  </div>

  <div>
    <h3>INFO FOR RESERVATIONS:</h3>
    <div>
      <label>DAY: </label> {{course.daycourse}}
    </div>
    <div>
      <label>HOUR LESSON: </label> {{course.hourlesson}}
    </div>
    <div>
      <label>NUMBER WEEKS: </label> {{course.numberweeks}}
    </div>
    <div>
      <label>COURT RESERVED: </label> {{course.courtCourse}}
    </div>
    <div>
      <label>PRICE: </label> {{course.priceCourse}}
    </div>
    <div>
      <label>END DATE REGISTRATION : </label> {{course.endDateRegistration}}
    </div>
    <div>
      <label>DATE LESSON'S FIRST DAY </label> {{ course.firstDayLesson }}
    </div>
  </div>
  <button *ngIf="isAdmin && isPending" mat-raised-button color="warn" (click)='deleteCourse()'>Delete</button>
</div>
