<div *ngIf="course">
  <div>
    <div>
      <label>SPORT: </label> {{course.sporttype}}
    </div>
    <div>
      <label>INSTRUCTOR: </label> {{course.instructor}}
    </div>
    <div>
      <label>PLAYERS: </label> {{course.players}}
    </div>
  </div>

  <div>
    <h3>INFO FOR RESERVATIONS:</h3>
    <div>
      <label>DAYS: </label> {{course.dayslesson}}
    </div>
    <div>
      <label>HOUR LESSON: </label> {{course.hourlesson}}
    </div>
    <div>
      <label>NUMBER WEEKS</label> {{course.numberweeks}}
    </div>
    <div>
      <label>PRICE: </label> {{course.priceCourse}}
    </div>
  </div>
  <button mat-raised-button color="warn" (click)='deleteCourse()'>Delete</button>
</div>
