<ng-container>
  <div class="card mb-3" *ngIf="!submitted">
    <div class="card-header bg-primary text-white">
      <h2>Create new Course</h2>
    </div>
    <form (ngSubmit)="onSubmit()">

      <div class="card-body">

        <div class="mb-3 row">
          <div class="col-4">
            <div [class.card]=true class="mb-3">
              <div class="card-header">SPORT COURSE</div>
              <mat-radio-group class="row card-body" required [(ngModel)]="sporttype" name='valueSport' aria-label="SPORT COURSE">
                  <mat-radio-button class="col-4" [value]="2">Tennis</mat-radio-button>
                  <mat-radio-button class="col-4" [value]="4">Padel</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-2">
            <mat-form-field appearance="fill">
              <mat-label>Level</mat-label>
              <mat-select [(ngModel)]="levelcourse" name="levelSport">
                <mat-option *ngFor="let level of levels" [value]="level">
                  {{level}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="fill">
              <mat-label>Court</mat-label>
              <mat-select [(ngModel)]="courtCourse" [disabled]="sporttype==0" name="typeSport">
                <ng-container *ngIf="sporttype==2; then optionsTennis else optionsPadel"></ng-container>
                <ng-template #optionsTennis>
                  <mat-option *ngFor="let court of tennisCourts" [value]="court">
                    {{court}}
                  </mat-option>
                </ng-template>
                <ng-template #optionsPadel>
                  <mat-option *ngFor="let court of padelCourts" [value]="court">
                    {{court}}
                  </mat-option>
                </ng-template>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- SECONDA RIGA -->
        <div class="mb-3 row">
          <div class="col-3">
            <mat-form-field appearance="fill">
              <mat-label>Instructor</mat-label>
              <input type="text" matInput [formControl]="instructorCourse" [matAutocomplete]="auto"  required>
              <mat-icon *ngIf="instructorCourse.value" matSuffix (click)="enableInstructorInput()">close</mat-icon>
              <mat-error *ngIf="instructorCourse.hasError('userInvalid')">Select one suggestion</mat-error>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <ng-container *ngIf="instructorCourse.value && instructorCourse.value.length>1">
                  <mat-option *ngFor="let option of filter | async" [value]="option" (onSelectionChange)="disableInstructorInput()">
                    {{option.displayName}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="standard">
              <mat-label>Price course</mat-label>
              <input matInput type="number" [(ngModel)]="priceCourse" name="valuePriceCourse" min="1" required>
            </mat-form-field>
          </div>
        </div>
        <!-- TERZA RIGA -->
        <div class="mb-3 row">
          <div class="col-3">
            <mat-form-field appearance="fill">
              <mat-label>Day Course</mat-label>
              <mat-select [(ngModel)]="daycourse" name="daySport">
                <mat-option *ngFor="let day of weekday" [value]="day">
                  {{day}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="standard">
              <mat-label>Hour course</mat-label>
              <input matInput type="number" [formControl]="hourLesson" name="valueHourLesson" min="9" max="21" required>
              <mat-error *ngIf="hourLesson.hasError('min') || hourLesson.hasError('max')">
                Hours available from 9 to 21
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="standard">
              <mat-label>Number weeks course</mat-label>
              <input matInput type="number" [formControl]="weeksLesson" name="valueWeekLesson" min="1" max="52" required>
              <mat-error *ngIf="weeksLesson.hasError('min') || weeksLesson.hasError('max')">
                Number of weeks must be more than 1 week & less than 52
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="mb-3 row">
          <mat-form-field class="col-2">
            <mat-label>Date end registration</mat-label>
            <input readonly='true' matInput [matDatepicker] = "picker" name="dateEndRegistration" id="dateEndRegistration"
                   [formControl]="dateEndRegistration" [min]="minDateEndRegistration" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <ng-container *ngIf="priceCourse && weeksLesson.value && daycourse && instructorCourse.value && levelcourse && dateEndRegistration.value && (hourLesson.value>=9 && hourLesson.value<=21) && sporttype && courtCourse && dateEndRegistration.value.toISOString().split('T')[0]!=today.toISOString().split('T')[0] && (weeksLesson.value>0 && weeksLesson.value<53); then ButtonAvailable else ButtonNotAvailable"></ng-container>
        <ng-template #ButtonAvailable>
          <button mat-raised-button color="primary" type="submit">CREATE COURSE</button>
        </ng-template>
        <ng-template #ButtonNotAvailable>
          <button mat-raised-button color="primary" [disabled]="true">CREATE COURSE</button>
        </ng-template>

      </div>
   <!-- numberweeks, instructor, endDateRegistration, hourlesson -->
    </form>
  </div>

  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button mat-raised-button color="primary" type="submit" (click)="newCourse()">Add new</button>
  </div>
</ng-container>


