<ng-container *ngIf="isAdmin; then PageCreateReservation else PageError"></ng-container>
<ng-template #PageCreateReservation>
  <h3>Create Reservation</h3>
  <div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div>
        <p>SPORT COURSE:</p>
        <mat-radio-group required [(ngModel)]="course.sporttype" name='valueSport' aria-label="SPORT COURSE">
          <mat-radio-button value="tennis">Tennis</mat-radio-button>
          <mat-radio-button value="padel">Padel</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="course.sporttype">
        <p>COURSE COURT:</p>
        <mat-radio-group required [(ngModel)]="course.courtCourse" name="valueCourt" aria-label="COURT COURSE">
          <ng-container *ngIf="course.sporttype=='tennis'; then radiobut1 else radiobut2"></ng-container>
          <ng-template #radiobut1>
            <mat-radio-button value=1>COURT 1</mat-radio-button>
            <mat-radio-button value=2>COURT 2</mat-radio-button>
            <mat-radio-button value=3>COURT 3</mat-radio-button>
          </ng-template>
          <ng-template #radiobut2>
            <mat-radio-button value=4>COURT 4</mat-radio-button>
            <mat-radio-button value=5>COURT 5</mat-radio-button>
            <mat-radio-button value=6>COURT 6</mat-radio-button>
          </ng-template>
        </mat-radio-group>
      </div>
      <div>
        <p>NUMBER WEEKS:</p>
        <mat-radio-group required [(ngModel)]="course.numberweeks" name='valueNumberweeks' aria-label="NUMBER WEEKS"> <!-- in base al prezzo cambiano il numero di settimane totali -->
          <mat-radio-button value=12>12 weeks</mat-radio-button>
          <mat-radio-button value=24>24 weeks</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Price course</mat-label>
          <input matInput type="number" [(ngModel)]="course.priceCourse" name="valuePriceCourse" min="1" required> <!-- TODO: non permettere di scrivere valori negativi -->
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Instructor</mat-label>
          <input type="text" matInput [formControl]="instructorCourse" name="Instructor" [matAutocomplete]="auto"  required>
          <button *ngIf="instructorCourse.value" matSuffix mat-icon-button aria-label="Clear" (click)="enableInstructorInput()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="instructorCourse.hasError('userInvalid')">Select one suggestion</mat-error>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <ng-container *ngIf="instructorCourse.value && instructorCourse.value.length>1">
              <mat-option *ngFor="let option of filter | async" [value]="option" (click)="disableInstructorInput()">
                {{option.username}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <p>DAYs COURSE:</p>
        <mat-radio-group required name='valueDay' aria-label="DAY COURSE" [(ngModel)]="course.daycourse">
          <mat-radio-button value="Monday">Mon</mat-radio-button> <mat-radio-button value="Tuesday">Tue</mat-radio-button> <mat-radio-button value="Wednesday">Wed</mat-radio-button>
          <mat-radio-button value="Thursday">Thu</mat-radio-button> <mat-radio-button value="Friday">Fri</mat-radio-button> <mat-radio-button value="Saturday">Sat</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Hour course</mat-label>
          <input matInput type="number" [formControl]="hourLesson" [(ngModel)]="course.hourlesson" name="valueHourLesson" min="9" max="21" required>
          <mat-error *ngIf="hourLesson.hasError('min') || hourLesson.hasError('max')">
            Hours available from 9 to 21
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-group date">
        <mat-form-field>
          <mat-label>Date end registration</mat-label>
          <input readonly='true' matInput [matDatepicker] = "picker" name="dateEndRegistration" id="dateEndRegistration" [min]="minDate"
                 [formControl]="dateEndRegistration" (ngModelChange)="setDate()" required>
          <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <ng-container *ngIf="course.priceCourse && course.numberweeks && course.daycourse && course.instructor && course.endDateRegistration && (course.hourlesson>=9 && course.hourlesson<=21) && course.sporttype && course.courtCourse; then ButtonAvailable else ButtonNotAvailable"></ng-container>
      <ng-template #ButtonAvailable>
        <button mat-raised-button color="primary" type="submit">CREATE COURSE</button>
      </ng-template>
      <ng-template #ButtonNotAvailable>
        <button mat-raised-button color="primary" [disabled]="true">CREATE COURSE</button>
      </ng-template>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button mat-raised-button color="primary" type="submit" (click)="newCourse()">Add new</button>
  </div>
</ng-template>
<ng-template #PageError>
  <h3>ERROR: NOT AUTHORIZED</h3>
</ng-template>
<!-- DEBUG BUTTON
<button mat-raised-button color="secondary" (click)="debugButton()">DEBUG</button>
-->
