<h3>Create Reservation</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div>
      <input type="radio" id="tennis" required [(ngModel)]="reservation.sportReservation" [formControl]="sportReservation"  name="selectsport" value="TENNIS">
      <label for="tennis">tennis</label><br>
      <input type="radio" id="padel" required [(ngModel)]="reservation.sportReservation" [formControl]="sportReservation" name="selectsport" value="PADEL">
      <label for="padel">padel</label><br>
    </div>
    <label for="dateReservation">Choose your date</label>
    <div class="input-group date">
      <mat-form-field>
        <input readonly='true' matInput [matDatepicker] = "picker" name="dateReservation" id="dateReservation"
               [(ngModel)]="reservation.dateReservation"  [formControl]="dateReservation" required>
        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!--
   <div>
       <label for="hourReservation">Hour Reservation: </label>
       <input type="number" min="10" max="21" id="hourReservation" required [(ngModel)]="reservation.hourReservation" name="hoursReservation">
     </div>
    -->
      <button mat-raised-button color="primary" type="submit">Create your reservation</button>
  </form>

  <button mat-raised-button color="secondary" (click)='reloadData()' >See reservations</button>

  <div *ngFor="let reservation of reservations | async" style="width: 300px;">
    <reservation-details [reservation]='reservation'></reservation-details>
  </div>

</div>

 <div [hidden]="!submitted">
   <h4>You submitted successfully!</h4>
   <button mat-raised-button color="primary" type="submit" (click)="newReservation()">Add new</button>
 </div>
