  <div [hidden]="submitted" class="card mb-3">
    <div class="card-header bg-primary text-white">
      <h1>Create Reservation</h1>
    </div>
    <div class="card-body">
      <!-- RIGA 1 -->
      <div class="mb-2 row">
        <div class="col-4">
          <div [class.card]=true class="mb-3">
            <div class="card-header">SPORT RESERVATION</div>
            <mat-radio-group class="row card-body" required [formControl]="isTennis" (ngModelChange)="checkRadioInput()" name='valueSport' aria-label="SPORT RESERVATION">
              <mat-radio-button class="col-4" [value]="true">Tennis</mat-radio-button>
              <mat-radio-button class="col-4" [value]="false">Padel</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-4" *ngIf="isTennis.value">
          <mat-form-field appearance="fill">
            <mat-label>Type match</mat-label>
            <mat-select [(ngModel)]="sportReservation" (ngModelChange)="setNumPlayers()" name="numberPlayers">
              <mat-option *ngFor="let option of OptionsTennis" [value]="option.idsport">
                {{option.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- RIGA 2 -->
      <app-players-reservation
        [playersCount]="numberplayers" (created)="allPlayers=$event; listplayersready=true; reloadData()" [selectedPlayers]="[userID]"
      ></app-players-reservation>
      <!-- RIGA 3 -->
      <div>
        <mat-form-field>
          <mat-label>Choose your date</mat-label>
          <input readonly='true' matInput [matDatepicker] = "picker" name="dateReservation" id="dateReservation" [min]="minDate" [max]="maxDate"
                 [formControl]="dateReservation" (ngModelChange)="reloadData()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div *ngIf="searchready">
    <mat-tab-group>
      <mat-tab *ngFor="let hour of hoursAvailable; let i = index" label="{{hour}}:00">
        <div class="contentmattab">
          <ng-container *ngFor="let court of courtsReservation; let j = index">
            <app-slot-reservation-button [reservationInput]="arrALLReservationsOrdByHourAndCourt[i][j]"
                                         [hour]="hour"
                                         [court]="court"
                                         [allPlayers]="allPlayers"
                                         [isAdmin]="isAdmin"
                                         [userID]="userID"
                                         [minDate]="minDate"
                                         [dateToReserve]="this.dateReservation.value"
                                         [sportToReserve]="sportReservation"
                                         (done)="submitted=true; searchready=false;"
                                         (EventUserInfos)="PlayersReserved=$event"
                                         (EventReservetionOutput)="CourtReserved=$event.courtReserved; DateReserved=$event.date; "
            ></app-slot-reservation-button>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

   <!--BOTTONE DEBUGGING
  <button mat-raised-button color="secondary" (click)='show()' >See</button>-->


 <div [hidden]="!submitted">
   <mat-card>
     <mat-card-title-group>
       <mat-card-title>RESERVATION DONE!</mat-card-title>
       <mat-card-subtitle>PLAYERS: <ng-container *ngFor="let player of PlayersReserved | async">{{player.displayName}} </ng-container></mat-card-subtitle> <!-- {{reservation.date.getHours()-1}}:00 -->
     </mat-card-title-group>
     <mat-card-content>They will play on {{DateReserved}}. Court {{CourtReserved}}.</mat-card-content>
     <mat-divider inset></mat-divider>
     <mat-card-actions>
       <button mat-raised-button color="primary" type="submit" (click)="newReservation()">Add new</button>
     </mat-card-actions>
   </mat-card>
 </div>
