<div class="container" style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <button mat-stroked-button routerLink="reservation-main" routerLinkActive="active">Reservations</button>
  <button mat-stroked-button routerLink="board-main" routerLinkActive="active">Boards</button>
  <button mat-stroked-button routerLink="tournament" routerLinkActive="active">Tournament</button>
  <button mat-stroked-button routerLink="course-main" routerLinkActive="active">Course</button>
  <nav>
    <router-outlet></router-outlet>
  </nav>
</div>

