<div class="mb-3"></div>

<div class="mb-3 col-6 offset-md-3 bg-warning" *ngIf="error">
  {{error}}
</div>

<div class="mb-3" *ngIf="waiting">
  Waiting for server...
</div>

<div class="card mb-3" *ngIf="!tournament && !waiting && sports as sports">
  <div class="card-header bg-primary text-white">
    <h2>Create new tournament</h2>
  </div>
  <div class="card-body">
    <form #tournamentForm=ngForm class="row gy-2">

      <div class="col-12">
        <label for="tournament-name" class="form-label">Name</label>
        <input #nameInput="ngModel"
               [ngClass]="{'is-valid': nameInput.touched && nameInput.valid, 'is-invalid': nameInput.touched && nameInput.invalid}"
               class="form-control" id="tournament-name" [(ngModel)]="tournamentBuilding.name" name="name" required>
        <div [hidden]="nameInput.valid || !nameInput.touched" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="col-6">
        <label for="sport-selector" class="form-label">Sport</label>
        <app-sport-selector id="sport-selector" [sports]="sports" [selected]="sport" (selectedChange)="selectedSport($event)"></app-sport-selector>
      </div>
      <div class="col-6">
        <label for="tournament-desc" class="form-label">Description</label>
        <textarea class="form-control" id="tournament-desc" rows="2" name="description"
                  [(ngModel)]="tournamentBuilding.description" #descriptionBuilding="ngModel"
                  [ngClass]="{'is-valid': descriptionBuilding.touched && descriptionBuilding.valid,
               'is-invalid': descriptionBuilding.touched && descriptionBuilding.invalid}"></textarea>
      </div>
      <div class="col-3">
        <label for="max-teams" class="form-label">Max teams</label>
        <input type="number" class="form-control" id="max-teams" [(ngModel)]="tournamentBuilding.maxTeamsNumber" name="maxTeamsNumber" #maxTeamsNumberInput="ngModel"
               [ngClass]="{'is-valid': maxTeamsNumberInput.touched && maxTeamsNumberInput.valid, 'is-invalid': maxTeamsNumberInput.touched && maxTeamsNumberInput.invalid}" min="1" required>
        <div [hidden]="maxTeamsNumberInput.valid || !maxTeamsNumberInput.touched" class="alert alert-danger">
          Number of teams has to be positive.
        </div>
      </div>
      <div class="col-3">
        <label for="court-count" class="form-label">Court number</label>
        <input type="number" class="form-control" id="court-count" [(ngModel)]="tournamentBuilding.courtsCount" name="courtCount" #courtCountInput="ngModel"
               [ngClass]="{'is-valid': courtCountInput.touched && courtCountInput.valid, 'is-invalid': courtCountInput.touched && courtCountInput.invalid}" min="1" [max]="courtNumber ? courtNumber : 0" required [disabled]="!sport">
        <div [hidden]="courtCountInput.valid || !courtCountInput.touched" class="alert alert-danger">
          Court count number has to be positive and lower than the maximum number of courts, {{courtNumber}}, for {{sport ? sport.name : 'the sport'}}.
        </div>
      </div>
      <div class="col-3">
        <label for="tournament-price" class="form-label">Price</label>
        <input type="number" class="form-control" id="tournament-price" name="price" #priceInput="ngModel"
               [(ngModel)]="tournamentBuilding.price" [ngClass]="{'is-valid': priceInput.touched && priceInput.valid, 'is-invalid': priceInput.touched && priceInput.invalid}"
               required min="0">
        <div [hidden]="priceInput.valid || !priceInput.touched" class="alert alert-danger">
          Price has to exists and to be non negative
        </div>
      </div>
      <div class="col-3 ">
        <label for="tournament-prize" class="form-label">Prize</label>
        <input type="number" class="form-control" id="tournament-prize" name="prize" #prizeInput="ngModel"
               [(ngModel)]="tournamentBuilding.prize" [ngClass]="{'is-valid': prizeInput.touched && prizeInput.valid, 'is-invalid': prizeInput.touched && prizeInput.invalid}"
               required min="0">
        <div [hidden]="prizeInput.valid || !prizeInput.touched" class="alert alert-danger">
          Prize has to exists and to be non negative
        </div>

      </div>

      <div class="mb-3">
        <label for="tournament-dates" class="form-label">Dates</label>
        <input id="tournament-dates" type="text" class="form-control date" placeholder="Pick the multiple dates">
      </div>
      <button class="btn btn-success" (click)="submit()" [disabled]="!tournamentForm.form.valid || !externalValid()">Create</button>
    </form>
  </div>
</div>

<ng-container *ngIf="tournament && !waiting">
  <app-tournament-view [tournament]="tournament"></app-tournament-view>
  <div class="btn-group btn-group-spaced">
    <button class="btn btn-success" (click)="confirmDraft()">Confirm</button>
    <button class="btn btn-warning" (click)="dropDraft()">Back to editing</button>
  </div>
</ng-container>
