<div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <h1>Active Reservations</h1>
  </div>
  <div class="card-body">
    <div class="mb-2 row">
      <div class="col-4">
        <div [class.card]=true class="mb-3">
          <div class="card-header">SPORT RESERVATION</div>
          <mat-radio-group class="row card-body" required [(ngModel)]="sportReservation" name='valueSport' (ngModelChange)="reloadData();" aria-label="SPORT RESERVATION">
            <mat-radio-button class="col-4" value=2>Tennis</mat-radio-button>
            <mat-radio-button class="col-4" value=4>Padel</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-4" *ngIf="isAdmin">
        <mat-form-field>
          <input readonly='true' matInput [matDatepicker] = "picker" name="dateReservation" id="dateReservation" (ngModelChange)="reloadData()" [min]="minDate"
                 [formControl]="dateReservation" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<mat-tab-group *ngIf="dateReservation.value && sportReservation && isAdmin">
  <mat-tab *ngFor="let hour of HoursAvailable; let i = index" label="{{hour}}:00">
    <div class="contentmattab">
      <ng-container *ngFor="let reservation of reservationsForHour[i] | async">
          <reservation-details [reservation]='reservation' [isAdmin]="isAdmin"></reservation-details>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="contentmattab" *ngIf="!isAdmin">
  <ng-container *ngFor="let reservation of reservationsUser | async">
    <reservation-details [reservation]='reservation' [isAdmin]="isAdmin"></reservation-details>
  </ng-container>
</div>

<!-- debug button
<button mat-raised-button color="primary" (click)='debugBut()'>Debug</button>-->

