<h1>All Courses</h1>

<div>
  <h2>COMPLETE COURSES</h2>
  <ng-container *ngFor="let course of courses | async" style="width: 300px;">
    <div *ngIf="course.players.length==3">
      <course-details [course]='course' ></course-details>
    </div>
  </ng-container>
</div>
<br>
<div [formGroup]=formsInputPendingCourses>
  <h2>PENDING COURSES</h2>
  <ng-container *ngIf="obsPendingCourses">
    <ng-container *ngFor="let course of obsPendingCourses | async; let i = index" style="width: 300px;">
        <course-details [course]='course' ></course-details>
        <div>
          <label>Add a new player on this course:</label>
          <mat-form-field appearance="fill">
            <input type="text" matInput [formControlName]=course.id [matAutocomplete]="playersoption">
            <mat-error *ngIf="formsInputPendingCourses.controls[course.id].hasError('userInvalid')">Select one suggestion</mat-error>
            <mat-autocomplete #playersoption="matAutocomplete" [displayWith]="displayFn">
              <ng-container *ngIf="formsInputPendingCourses.controls[course.id].value && formsInputPendingCourses.controls[course.id].value.length>1">
                <mat-option *ngFor="let option of filtersOptions[i] | async" [value]="option">
                  {{option.username}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
          <ng-container *ngIf="formsInputPendingCourses.controls[course.id].value && formsInputPendingCourses.controls[course.id].value.hasOwnProperty('username'); then ButtonAvailable else ButtonNotAvailable"></ng-container>
          <ng-template #ButtonAvailable>
            <button mat-raised-button color="secondary" (click)="addNewPlayer(course.id)">Add player</button>
          </ng-template>
          <ng-template #ButtonNotAvailable>
            <button mat-raised-button color="secondary" [disabled]="true">Add player</button>
          </ng-template>

        </div>
    </ng-container>
  </ng-container>
</div>

<div>
  <button mat-raised-button color="warn" (click)='deleteCourses()'>Delete All</button>
</div>

<!-- BOTTONE DEBUGGING
  <div>
  <button mat-raised-button color="secondary" (click)='show()' >See</button>
  </div>
-->
